<?xml version="1.0"?>
<model>
  <name>RoMu4o Perception Test Camera</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>leaf_manipulation_sim</name>
  </author>
  <description>
    Independently positioned RGB-D camera for leaf perception development.
  </description>
</model>
