<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mycobot_pro_450_f100">
  <xacro:arg name="use_gz_control" default="false"/>
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="collision_mesh_scale" default="1.0"/>
  <xacro:arg name="use_floor_mount" default="true"/>
  <xacro:include filename="$(find pro450_description)/urdf/pro450_f100_body.xacro"/>
</robot>
