<?xml version="1.0"?>
<robot name="tm5-900" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find tm_description)/xacro/macro.materials.xacro"/>
  <xacro:include filename="$(find tm_description)/xacro/macro.tm5-900-nominal.urdf.xacro"/>
  <xacro:include filename="$(find leaf_manipulation_sim)/urdf/parts/rg2_mount.xacro"/>
  <xacro:include filename="$(find leaf_manipulation_sim)/urdf/parts/floor_mount.xacro"/>
  <xacro:include filename="$(find leaf_manipulation_sim)/urdf/parts/gazebo_plugins.xacro"/>
  <xacro:include filename="$(find leaf_manipulation_sim)/urdf/parts/gazebo_collision_safe.xacro"/>

  <xacro:property name="plate_height" value="0.05"/>

  <!-- base_root -> mount_plate_link -> base -> link_0..6 -> flange -> RG2 -->
  <xacro:floor_mount width="0.50" depth="0.50" plate_height="${plate_height}"/>

  <xacro:tmr_materials/>
  <xacro:tm5-900 ns="" prefix="" color="white" format="stl"/>

  <joint name="plate_to_arm_base" type="fixed">
    <parent link="mount_plate_link"/>
    <child link="base"/>
    <origin xyz="0 0 ${plate_height}" rpy="0 0 0"/>
  </joint>

  <xacro:rg2_gripper prefix="" parent_link="flange"/>

  <!-- Official Intel RealSense D435 visual, shared by RViz and Gazebo. -->
  <link name="camera_link">
    <visual>
      <origin xyz="0.0043 -0.0175 0" rpy="1.57079632679 0 1.57079632679"/>
      <geometry>
        <mesh filename="package://realsense2_description/meshes/d435.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.0175 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02505 0.090 0.025"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.072"/>
      <inertia ixx="0.003881243" ixy="0" ixz="0" iyy="0.000498940" iyz="0" izz="0.003879257"/>
    </inertial>
  </link>

  <!-- RoMu4o eye-in-hand camera pose from the original TM model. -->
  <joint name="hand_camera_joint" type="fixed">
    <parent link="link_6"/>
    <child link="camera_link"/>
    <origin xyz="0.0175 0.1243 0.01933" rpy="0 -1.5707 -1.5707"/>
  </joint>

  <gazebo reference="hand_camera_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <link name="camera_color_optical_frame"/>
  <joint name="camera_color_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_color_optical_frame"/>
    <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
  </joint>

  <link name="camera_depth_optical_frame"/>
  <joint name="camera_depth_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_depth_optical_frame"/>
    <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
  </joint>

  <gazebo>
    <static>true</static>
  </gazebo>

  <xacro:tm5_gazebo_safe prefix=""/>
  <xacro:rg2_gazebo_safe prefix=""/>
</robot>
