<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Gazebo Classic segfaults on some vendor STL collision meshes. Override
       physics collision with minimal boxes while keeping URDF visual meshes. -->
  <xacro:macro name="gazebo_safe_link" params="link">
    <gazebo reference="${link}">
      <gravity>false</gravity>
      <kinematic>true</kinematic>
      <selfCollide>false</selfCollide>
      <collision name="${link}_gazebo_safe">
        <geometry>
          <box>
            <size>0.001 0.001 0.001</size>
          </box>
        </geometry>
      </collision>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="tm5_gazebo_safe" params="prefix:=''">
    <xacro:gazebo_safe_link link="${prefix}link_0"/>
    <xacro:gazebo_safe_link link="${prefix}link_1"/>
    <xacro:gazebo_safe_link link="${prefix}link_2"/>
    <xacro:gazebo_safe_link link="${prefix}link_3"/>
    <xacro:gazebo_safe_link link="${prefix}link_4"/>
    <xacro:gazebo_safe_link link="${prefix}link_5"/>
    <xacro:gazebo_safe_link link="${prefix}link_6"/>
    <xacro:gazebo_safe_link link="${prefix}flange"/>
    <xacro:gazebo_safe_link link="${prefix}gripper"/>
  </xacro:macro>

  <xacro:macro name="rg2_gazebo_safe" params="prefix:=''">
    <xacro:gazebo_safe_link link="${prefix}onrobot_rg2_base_link"/>
    <xacro:gazebo_safe_link link="${prefix}left_outer_knuckle"/>
    <xacro:gazebo_safe_link link="${prefix}left_inner_knuckle"/>
    <xacro:gazebo_safe_link link="${prefix}left_inner_finger"/>
    <xacro:gazebo_safe_link link="${prefix}right_outer_knuckle"/>
    <xacro:gazebo_safe_link link="${prefix}right_inner_knuckle"/>
    <xacro:gazebo_safe_link link="${prefix}right_inner_finger"/>
  </xacro:macro>

</robot>
